body {
    font-family: Segoe UI;
    background: #f8f5f0;
    color: #333;
}

/* NAVBAR */

.navbar-custom {
    background: #1f3c88;
}

.brand-text {
    font-weight: 700;
    font-size: 18px;
}

/* HERO */

.hero-section {
    height: 80vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('/image/layout.jpeg');
    background-size: cover;
    color: white;
}

.hero-title {
    font-size: 55px;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 20px;
}

/* BUTTON */

.btn-scheme {
    background: #f77f00;
    color: white;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 30px;
}

    .btn-scheme:hover {
        background: #d62828;
    }

/* SCHEME */

.scheme-section {
    padding: 80px 0;
}

.scheme-title {
    color: #d62828;
    font-weight: 700;
}

.scheme-price {
    color: #2a9d8f;
    font-weight: 700;
}

/* LAYOUT */

.layout-section {
    padding: 80px 0;
    background: white;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    color: #1f3c88;
}

/* TERMS */

.terms-section {
    padding: 80px 0;
    background: #f1f1f1;
}

/* CONTACT */

.contact-section {
    background: #1f3c88;
    color: white;
    padding: 60px 0;
}

/* FOOTER */

.footer-section {
    background: #111;
    color: white;
    padding: 40px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

    .footer-links li {
        margin-bottom: 8px;
    }
